@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fa;
}

.header {
    background-color: white;
    border-bottom: 1px solid #bfc0c2; 
    font-family: "Nerko One", cursive;
    display: grid;
    place-content: center;
    height: 100px;
}

.headerText {
    font-size: 60px;
}

.content {
    display: grid;
    grid-template-rows: 100px 1fr;
    font-family: "Roboto", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

.buttonContainer {
    place-self: center;
}

/* Button by Shuffle copied from CSS Scan Button 81 */
#addButton {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#addButton:hover {
    background-color: #1e293b;
    color: #fff;
}

#modal {
    border: none;
    border-radius: 8px;
    background-color: #f6f8fa;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding: 16px;
}

#modal::backdrop {
    background-color: #00000080;
}

.modalHeader {
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 10px;
}

#closeButton {
    position: absolute;
    right: -5px;
    bottom: 10px;
    background-color: transparent;
    color: #1a1a1a;
    color: #737373;
    border: none;
    height: 20px;
    width: 20px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#closeButton:active, #closeButton:hover {
    color: #1a1a1a;
}

#addBookForm {
    display: grid;
    gap: 20px;
}

.bookInput {
    font-size: 18px;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

.toggleReadStatus {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#submitBook {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #86efac;
}

#submitBook:hover {
    background-color: #4ade80;
}

.bookCards {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-content: center;
    gap: 20px;
}

.card {
    display: grid;
    gap: 20px;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    min-height: 350px;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI", "Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: white;
    border-top: 8px solid #0ea5e9;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.cardButton {
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.readStatus {
    background-color: #86efac;
}

.readStatus:hover {
    background-color: #4ade80;
}

.delete {
    background-color: #fca5a5;
}

.delete:hover, .delete:active {
    background-color: #f87171;
}